version: '3.7'

services:
  app:
    build: .
    image: chaosdorf/dashpi
    volumes:
      - ./src:/app
    environment:
      - MOSQUITTO_HOST=mqttserver.chaosdorf.space
      - PING_HOST=speedtest-2.unitymedia.de
      - PROMETHEUS_URL=https://prometheus.chaosdorf.space/
      - RACK_ENV=development
    secrets:
      - DASHING_AUTH_TOKEN
    ports:
      - 3030:3030

secrets:
  DASHING_AUTH_TOKEN:
    file: ./secrets/DASHING_AUTH_TOKEN
