// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #eb9c3c;

$title-color:       rgba(255, 255, 255, 0.7);
$time-color:        rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-comment styles
// ----------------------------------------------------------------------------
.widget-comments {

  background-color: $background-color;

  .title {
    color: $title-color;
    margin-bottom: 15px;
  }

  .name {
    line-height: 50px;
    padding-right: 5px;
  }
  
  .time {
    color: $time-color;
  }

  .comment-container {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    h3 {
      text-shadow: black 0 0 4px;
    }
    p {
      top: 10px;
      word-break: normal;
    }
  }

  .more-info {
    color: $moreinfo-color;
  }

  .comment {
    font-size: 38px;
  }
  
  .avatar {
      max-width: 100px;
  }

}
