- content_for(:title) { "Chaosdorf Status" }

:javascript
  $(function() {
    Dashing.widget_base_dimensions = [350, 287];
    Dashing.numColumns = 4;
  });

.gridster
  %ul
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1"}
      %div{"data-id" => "cat", "data-view" => "Image"}
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1"}
      %div{"data-view" => "Clock"}
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1"}
      %div{"data-id" => "weather", "data-view" => "Weather"}
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1"}
      %div{"data-id" => "chaosdoor-mode", "data-title" => "Chaosdoor Mode", "data-view" => "Text"}
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1"}
      %div{"data-id" => "downlink-traffic", "data-max" => "100000000", "data-min" => "0", "data-title" => "Downlink Traffic", "data-view" => "Meter", "data-suffix" => "B/s"}
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1"}
      %div{"data-id" => "uplink-traffic", "data-max" => "5000000", "data-min" => "0", "data-title" => "Uplink Traffic", "data-view" => "Meter", "data-suffix" => "B/s"}
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1"}
      %div{"data-id" => "power-total", "data-title" => "Power", "data-view" => "Graph", "data-suffix" => "W" }
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1"}
      %div{"data-id" => "music", "data-header" => "now playing", "data-view" => "Music"}
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1"}
      %div{"data-id" => "freifunk-total", "data-title" => "Freifunk nodes", "data-view" => "Number"}
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "1", "data-sizey" => "1"}
      %div{"data-id" => "ping", "data-title" => "ping", "data-view" => "Graph", "data-suffix" => "ms"}
    %li{"data-col" => "1", "data-row" => "1", "data-sizex" => "2", "data-sizey" => "1"}
      %div{"data-id" => "twitter_mentions", "data-moreinfo" => "Mentions", "data-view" => "Comments"}
