- content_for(:title) { "Chaosdorf Status" }

:javascript
  $(function() {
    Dashing.numColumns = 4;
  });

.grid
  .row
    %div{"data-id" => "cat", "data-view" => "Image"}
    %div{"data-view" => "Clock"}
    %div{"data-id" => "weather", "data-view" => "Weather"}
    %div{"data-id" => "chaosdoor-mode", "data-title" => "Chaosdoor Mode", "data-view" => "Text"}
  .row
    %div{"data-id" => "downlink-traffic", "data-max" => "100000000", "data-min" => "0", "data-title" => "Downlink Traffic", "data-view" => "Meter", "data-suffix" => "B/s"}
    %div{"data-id" => "uplink-traffic", "data-max" => "5000000", "data-min" => "0", "data-title" => "Uplink Traffic", "data-view" => "Meter", "data-suffix" => "B/s"}
    %div{"data-id" => "power-total", "data-title" => "Power", "data-view" => "Graph", "data-suffix" => "W" }
    %div{"data-id" => "music", "data-header" => "now playing", "data-view" => "Music"}
  .row
    %div{"data-id" => "efa", "data-title" => "VRR EFA", "data-view" => "Efa"}
    %div{"data-id" => "ping", "data-title" => "ping", "data-view" => "Graph", "data-suffix" => "ms"}
    %div{"data-id" => "twitter_mentions", "data-moreinfo" => "Mentions", "data-view" => "Comments", "data-span-cols" => "2"}
